doctype html
html
	head
		title hakatashi's twitpic backup hosting
		link(rel='stylesheet', href='style.css', media='screen', charset='utf-8')
	body
		.banner
			h1
				a(href='./') hakatashi's twitpic backup hosting
		.info
			p Here exists twitpic backups of hakatashi's and some hakatashi-relevant pictures.
			p You can get to missing <strong>twitpic.com/xxxxx</strong> by accessing <strong>twitpic.hakatashi.com/xxxxx</strong>.
