doctype html
html
	body
		h1 hakatashi's twitpic backup hosting
		p Here exists twitpic backups from hakatashi's and some hakatashi-relevant photoes.
		p You can earn missing twitpic.com/xxxxx by accessing twitpic.hakatashi.com/xxxxx.
