doctype html
html
	body
		h1 hakatashi's twitpic backup hosting
		p Here exists twitpic backups from hakatashi's and some hakatashi-relevant photoes.
		p You can get to missing <strong>twitpic.com/xxxxx</strong> by accessing <strong>twitpic.hakatashi.com/xxxxx</strong>.
